<!DOCTYPE html>
<html>
  <head>
    <title>Lorem Generator</title>
    <link href="lorem.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <%@lorem_output.each do |paragraph|%>
    <p><%= paragraph.join %></p>
    <% end %>
  </body>
</html>
